@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" >
    <h1 class="text-center" >ABC Supermarket Employee Portal</h1>
</div>
<div class="row">
    <h2 class="text-center">Welcome Employee</h2>
    <p class="text-center">
        Manage items and new stock of products.
        Create, Update, Delete and Review Items at ABC Supermarket.
    </p>
</div>

